<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Ablaze: {% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
</head>

<body>
  {% include 'partials/header.html' %}
  <div id="content-wrap">
    <div id="content">
      {% include 'partials/sidebar.html' %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% include 'partials/footer.html' %}
</body>

</html>